.{
    padding: 0px;
    width: 0px;
    background-color: aqua;
}
.titulo{
    text-align: center;
    font-size: 60px;
    font-family: 'Lobster', cursive;
    margin-top: 50px;
}
.mono{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 200px;
}
.boton{
     display: inline-block;
}